/*style sheet*/

img{display:block; margin:auto;}

body{
    background-image:url("background.jpg");
    font-family: 'Permanent Marker',cursive;
} 

h1{
    border-style: solid;
    border-width: 3px;
    border-left-width :10px;
    border-right-width: 10px;
    border-color:white;
    color:gold;
}
h2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px; 
    border-right-width: 10px;
    border-color:white;
    color: gold;
}
h3 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color:white;
    color: gold;
    }
ul{color: white;
    font-size: 23px;
}
p{
    color:white;
    font-size: 25px;
}

nav{
    margin: 0%;
    padding: 0%;
    width: 100% auto;
    height: 60px;
    background-color:black;
    text-align: center;
    color:black;
    list-style: none;
    list-style-type: georgian;
}
nav li{
    display: inline-block;
    padding: 10px 40px;
    }
nav a{color: gold;}

#more{
    display: none;
}
footer p{ color: white;
    }
