/*style sheet*/

img{display:block; margin:auto;}
h1 { color:gold}  
h2 { color:gold}  
h3 {color: gold}
p {color:white}
body{font-size: 19px }
body{background-image:url("project.css");} 
h1{border-style: solid;
border-width: 3px;
border-left-width :10px;
border-right-width: 10px;
border-color:white;}
h2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px; 
    border-right-width: 10px;
    border-color:white;
    }
h3 {border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color:white;
    }
ul{color: white}
p{
    color:white;
    font-size: 25px;
}

